.app {
  min-height: 100vh;
  max-width: 1080px;
  margin: 0 auto;
}

.d-inline-flex {
  display: inline-flex;
}

.flex-column {
  flex-direction: column;
}

.section {
  display: flex;
  gap: 0 66px;
  margin-bottom: 66px;
}

.link {
  color: var(--black);
  text-decoration: none;
}

.link:hover,
.link:focus,
.link:active {
  color: var(--green);
}

.job-experience {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

.job-experience .experience {
  padding: 0 0 0 20px;
  border-left: 2px solid var(--gray);
}

.job-experience .experience:first-child {
  border: none;
}

.job-experience .experience:last-child {
  padding: 0 0 0 20px;
}

.content-box .pills-box .pill {
  margin-bottom: 30px;
}

.contacts {
  margin: 0 24px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 100px;
}

.contacts__item .link {
  display: block;
}

.footer .separator {
  margin-bottom: 32px;
}

.footer {
  margin-bottom: 36px;
}
